<% @comments.each do |comment| %>
  <tr>
    <td class= "text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, admin_comment_remove_path(comment), remote: true, class: "btn btn-danger" %>
    </td>
    <td><%= comment.product.name %></td>
    <td><%= comment.user.name %></td>
    <td><%= comment.content %></td>
  </tr>
<% end %>
