<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3><i class="fa fa-institution"></i>&nbsp
        <%= t "admin.buttons.edit" %> <%= @bill.user.name %>
          <%= t "bills.bill.ofbill"%></h3>
    </div>
    <%= render "form" %>
  </div>
</div>

