/* line 3, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.Username {
  margin-bottom: 20px !important;
  color: #3399ff !important;
}

/* line 7, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.img-thumbnail {
  margin-top: 30px;
}

/* line 11, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.patding {
  padding-bottom: 100px !important;
  margin-bottom: 10px;
}

/* line 15, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.user-font {
  font-weight: bold;
}

/* line 18, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.profile {
  margin: 0 0 0 30px;
  margin-top: 30px;
  border-radius: 3px;
  border: 2px solid #eee;
}

/* line 24, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.background-profile {
  background-color: #F5F5F5;
  border-radius: 3px;
  height: 65px;
}

/* line 29, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.text-css {
  width: 190px;
  height: 40px;
  line-high: 40px;
  background-color: white;
  margin: 0 0 0 10px;
  padding: 0 0 0 2px;
}

/* line 37, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.information-profile {
  padding: 0 20px 0 20px;
}
/* line 40, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.information-profile .row {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* line 45, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.image-size {
  width: 20px;
  margin-right: 10px;
}

/* line 49, /home/hungk/Desktop/Project1/OE6_Rails/app/assets/stylesheets/User_profile.scss */
.unbold {
  font-weight: 1;
}
