<% @brands.each do |brand| %>
  <tr>
    <td class= "text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe , edit_admin_brand_path(brand), remote: true , class: "btn btn-info" %>

    </td>
    <td class= "text-center table-action-column">
      <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, admin_brand_remove_path(brand), remote: true, class: "btn btn-danger" %>
    </td>
    <td>
      <div class="icheckbox_flat-green checked table-action-column">
        <%= check_box_tag "brand_ids[]", brand.id, false,
          class: "icheckbox_flat-green checked brand-delete" %>
      </div>
    </td>
    <td>
      <%= brand.name %>
    </td>
  </tr>
<% end %>
