<% if items.blank? %>
  <li class="li-search">
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= t "noresult" %><%= params[:search] %>
    <% end %>
  </li>
<% else %>
  <div class="scrollable-menu">
    <% items.each do |item| %>
        <%= render "products/product", product: item %>
    <% end %>
  </div>
<% end %>
