<% unless bill.status == 5 %>
<div class="row">
  <div class="col-md-3">Bill id: <%= bill.id %></div>
  <div class="col-md-3">
    Created at: <%= bill.created_at.strftime  "%d/%m/%Y" %>
  </div>
  <div class="col-md-3">
    Created at: <%= bill.created_at.strftime  "%d/%m/%Y" %>
  </div>
</div>
<% end %>
