<tr>
  <td>
    <%= link_to rate.product.name , product_path(rate.product),
      class: "btn btn-info", target: "_blank" %>
  </td>
  <td><%= rate.user.name %></td>
  <td class="text-right"><%= rate.rate_value %></td>
</tr>

