<% provide :title, t("admin.orders.headline") %>
<% provide :page_headline, t("admin.orders.headline") %>
<div class="clearfix">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <table id="tblOrders" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th><%= t "admin.id" %></th>
                <th><%= t "admin.users.name" %></th>
                <th><%= t "admin.orders.status" %></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#tblOrders").dataTable();
</script>
