.single-main{
  font-size: 2rem;
  padding: 50px 0px;
  .row{
    padding: 10px 0px;
  }
  b{
    display: inline-block;
    width: 200px;
  }
  h1{
    margin-bottom: 20px;
  }
}
.dropdown{
  position: relative;
  top: 0px;
  left: 0px;
  .dropdown-menu{
    border-radius: 0;
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 5px;
    height: 158px;
    li{
      background: white;
    }
  }
}
.register-main
{
  textarea{
    border: 1px solid black;
    padding: 5px;
  }
}

.product-left{
  margin: 10px 0px;
}

.tag-men{
  span.tag{
    display: inline-block;
    width: 100px;
  }
}
.subitem1{
  padding: 10px;
  background: white;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  .row{
    &:nth-child(even){
      background: rgb(240,240,240);
    }
  }
}

.simpleCart_items{
  font-size: 16px;
  box-sizing: border-box;
  .headerRow{
    background: black;
    color: white;
    width: 100%;
    height: 100px;
    [class*="item-"]{
      display:inline-block;
      width: 20%;
      line-height: 100px;
      text-align: center;
    }
  }
  .itemRow{
    border-top: 1px solid #BFD6CC;
    width: 100%;
    height: 100px;
    [class*="item-"]{
      display:inline-block;
      text-align: center;
      width: 20%;
      line-height: 100px;
      input[type="number"]{
        width: 40px;
        height: 30px;
        margin: 0px 5px;
      }
    }
  }
}
.footerRow{
  font-size: 16px;
  box-sizing: border-box;
  border-top: 1px solid #BFD6CC;
  width: 100%;
  height: 100px;
  [class*="item-"]{
    display:inline-block;
    width: 20%;
    line-height: 100px;
    text-align: center;
  }
  margin-bottom: 20px;
}

a.my-btn{
  display: inline-block;
  padding: 15px 45px;
  background: black;
  color: white;
  text-decoration: none;
  &:hover{
    background: rgb(240,240,240);
    color: black;
  }
}

h4 a.text-right{
  float:right;
}
.rating_star{
  margin: 10 0 0 0;
}

.li-search{
  list-style: none !important;
}
.account-left{
  p{
    margin: 0;
  }
}

a.sold_out{
  cursor: not-allowed;
  text-decoration: none;
  color: #fff;
  background: #400;
  padding: 0.4em 0.8em;
  font-size: 1.15em;
  text-transform: uppercase;
  margin-top: 2em;
  display: inline-block;
}

a.add-cart{
  background: red;
  overflow-x: hidden;
  trasition: all 3s ease;
  &:hover{
    background: white;
    color: red;
    border: 2px solid red;
  }
}
