<%= provide :title, t(".Brands") %>
<div class="prdt">
<div class="container">
<div class="prdt-top">
  <div class="col-md-12 prdt-left">
    <div class="product-top">
      <div class="product-one">
        <%= render @brands %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
