<div class="latestproducts">
  <h3><strong>Products of the same type</strong></h3>
  <div class="product-one">
    <%= render @product.category.products.limit(4) %>
    <div class="clearfix"></div>
  </div>
</div>
