<li class="search-item">
  <%= link_to product do %>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <div class="row">
        <strong><%= product.price %></strong>
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
</li>
