<div class="page-title">
  <div class="title_left">
    <h3>
      <%= yield :page_headline %> &nbsp
      <%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe,
       yield(:url), title: t("admin.buttons.create"), remote: true, class: "btn btn-primary" %>
    </h3>
  </div>
  <div class="title_right">
  </div>
</div>
