<tr>
  <td><%= bill_detail.product.name %></td>
  <td><%= bill_detail.product.price %></td>
  <td><%= bill_detail.quantity %></td>
  <td><%= bill_detail.quantity * bill_detail.product.price %></td>
</tr>
